extends ../layout

block content
    div(class="span12  container" )
        div
        h2 Welcome to the demo!
        br
        p
        .line This is under construction
        br
        p=exception

        br
        br
        br
        form(action="/")
            button(class="btn btn-large btn-block ", type="submit") back home
